.test {
  background-color: aquamarine;
  color: blue;
}
h1 {
  background-color: aquamarine;
  color: blue;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
form {
  background: purple;
  block-size: 20vw;
}
